*{
    margin:0 ;
    padding:0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header{
    text-align: center;
    padding: 30px;
    border: 1px ;
}
header h1{
    padding-bottom: 25px;
}
main{
    width: 60%;
    border: 5px ;
    margin: 0 auto;
}
main p{
    padding-top: 10px;
    padding-bottom: 10px;
}
footer{
   
        text-align: center;
}