#h5{
    padding-left: 33%;
    color: white;
}
#h6{
    padding-left: 33.9%;
    color: white;
}
#h3{
    color: white;
    padding-left: 20%;
    
}
#jumb{
    background-color: #616161;
}
#fig1{
    width: 100%;
}
#fig2{
    width: 90px;
    height: 90px;
}
#p1{
 text-align: justify;
}
#cor{
    background-color: #1b5e20 ;
    padding-bottom: 30px;
   
}
#c{
    padding-bottom: 50px;
}
#c1{
    color: white;
    text-align: justify;
}
#p2{
    padding-top: 15px;
    padding-bottom: 30px;
}
#tit{
    padding-top: 30px;
}
#fig3{
    width: 80px;
    height: 80px;
}
#col1{
    padding-top: 30px;
}
#fig4{
    width: 150px;
    height: 150px;
   
}
#cont2{
    padding-top: 50px;
    padding-bottom: 50px;
}
#h150{
    padding-bottom: 30px;
}
#cont4{
    background-color: #616161;
    color: white;
}
#col5{
    text-align: right;
    padding-left: 70px;
    padding-top: 40px;
    padding-bottom: 30px;
}
#col6{
    text-align: left;
    padding-left: 70px;
    padding-top: 40px;
    padding-bottom: 30px;
}
#t{
    padding-bottom: 20px;
}

